.git
.git/**
.env
.env.*
**/.env
**/.env.*
**/*.pem
**/*.key
**/*.crt
**/*.cer
**/*.der
**/*.p12
**/*.pfx
**/.netrc
**/.npmrc
**/*kubeconfig*
**/credentials*.json
**/service-account*.json
**/service_account*.json
**/node_modules
*.tgz
